.Container{
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: row;
 }
 
 .InfoBox{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 10%;
     height: 10vh;
     border: 1px solid black;
     text-align: center;
 }
 
 .List{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80%;
     height: 50vh;
     border: 1px solid black;
     text-align: center;
     flex-direction: column;
 }
 
 .ListElement {
      width: 100%;
      margin: 2%; 
      border: 2px solid grey
 }
 
 .DictListElement {
     display: flex;
     width: 100%;
     margin: 2%;
     border: 2px solid grey; 
     flex-direction: row;
 }
 
 .DictItemCenter {
     display: flex;
     width: 50%;
     align-items: center;
     justify-content: center;
     text-align: center;
 }
 