.Container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: row;
    background-color: #f8fbff;
   }
   
   .InfoBox{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 10%;
       height: 10vh;
       border: 1px solid black;
       text-align: center;
   }
   
   .List{
       display: flex;
       justify-content: start;
       align-items: center;
       width: 40%;
       height: 60vh;
       border: 1px solid black;
       text-align: center;
       flex-direction: column;
       background-color: white;
       box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
       border-radius: 4px;
      }
   
   .ListElement {
        width: 100%;
        margin: 2%; 
        border: 2px solid grey
   }
   
   .DictListElement {
       display: flex;
       width: 100%;
       margin: 2%;
       border: 2px solid grey; 
       flex-direction: row;
   }
   
   .DictItemCenter {
    width: 22.5%;
    margin: 2%;
    text-align: center;
   }
  
   
   .DictItemCenterLong {
    width: 30%;
    margin: 2%;
    text-align: center;
   }
  
   .DictItemCenterShort {
    width: 10%;
    margin: 2%;
    text-align: center;
   }
  
  .HeaderText {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom: 1px solid black; 
    height: 60px; 
    font-size: 25px; 
    font-weight: 600; 
    margin-bottom: 5%; 
    background-color: #61a4ad;
    color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .InputBox{
    margin-top: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: baseline;
    width: 30%;
    height: 40vh;
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px;
   }



   